
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.image{
    width: 100%;
    height: 300px;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
}
.row1 img{
    width: 300px;
}
.row2{
    display: flex;
    flex-wrap: wrap;
}
.cards img{
    height: 200px;
    width: 200px;
    margin: 20px;
}
.inner{
    display: flex;
    flex-wrap: wrap;
}
.card{
    border: 2px solid black;
    background-color: rgb(239, 204, 160);
    padding: 20px;
    margin: 20px;
}