*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     margin: 0;
}
/* parent grid container */
.parent{
    width: 100%;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    gap: 10px;
    border: 1px solid black;
    /* make parent grid container */
    display: grid;
    /* decide no.of rows and columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.child1{
    /* grid-column-start: 1 ;
    grid-column-end: 3; */
    grid-column: 1 / 3;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1 / 2;
    background-color: rgb(246, 15, 15);
    display: flex;
}
.child2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: rgb(216, 161, 22);
}
.child3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(90, 191, 234);
    padding: 30px;

}
.child4{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: rgb(246, 74, 234);
    display: flex;
    gap: 40px;
}
.child5{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: rgb(90, 234, 117);
    padding: 30px;

}
.child6{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: rgb(235, 117, 20);
}
.child7{
    grid-column: 4 / 5;
    grid-row: 2 / 5;
    background-color: rgb(207, 236, 40);
}
/* img{
    height:100%;
    width: 100%;
} */

.child11{
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: start;
    padding: 10px;
}
.child22{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.child44{
    padding: 60px;
    
}
.child55{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
img{
    width:200px;
    height: 200px;
}
.child6 button{
    background-color: rgb(244, 248, 60);
}
.trans-button{
    display: block;
    text-align: center;
    background-color: rgb(207, 204, 204);
    
}
.yellow-button{
   background-color: aquamarine;
   border-radius: 20px;
   height: 40px;
   width: 80px;
}
@media screen and (max-width:600px) {
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
}
/* .parent div{
    display: flex;
} */