*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

/* parent grid container */
.parent{
    max-width:1000px;
    margin:auto;
    margin-top:80px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:auto auto;
    gap:20px;
}

/* common for all children */
.parent > div{
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

/* HEADER (image+name) */
.first,
.second,
.third,
.four,
.fifth{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:15px;
}

.first img,
.second img,
.third img,
.four img,
.fifth img{
    border-radius:50%;
}

/* TEXT SPACING */
h3{
    margin-bottom:10px;
}

p{
    line-height:1.6;
}

/* GRID POSITIONS */
.child1{
    grid-column:1/3;
    background:#8e3be6;
    color:white;
}

.child2{
    grid-column:3/4;
    background:#4b4545;
    color:white;
}

.child3{
    grid-column:4/5;
    grid-row:1/3;
    background:#e9e9e9;
}

.child4{
    grid-column:1/2;
    background:white;
}

.child5{
    grid-column:2/4;
    background:#1f1d1d;
    color:white;
}

/*for making Mobile RESPONSIVE */
@media(max-width:600px){
    .parent{
        grid-template-columns:1fr;
    }

    .parent > div{
        grid-column:auto;
        grid-row:auto;
    }
}
